*{
    margin: 0;
    padding: 0;
    font-family: 'MuseoModerno', cursive;
}
body{
    width: 100%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
}
#mainContainerAprendiz{
    width: 100%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
}
#topBar{
    width: 100%;
    height: 50px;
    background-color: #591B57;
    display: flex;
    flex-direction: row;
}
#logo{
    color: white;
    margin: auto;
}
#GetOut{
    color: white;
    margin: auto;
    margin-right: 0;
    width: 30px;
    height: 30px;
}
#buscarClases{
    margin: auto;
    margin-left: 0;
    background-color: rgb(219, 218, 218);
    width: 32%;
    height: 35px;
    display: flex;
    flex-direction: row;
}
#logoContainer{
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}
#clasesContainer{
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
}
#libroClase{
    color: white;
    margin-right: 20px;
    margin: auto;
}
#MisClases{
    color: white;
    font-size: 1rem;
    margin: auto;
    margin-left: 6px;
}
#linkClases{
    display: flex;
    flex-direction: row;
}
#linkLogo{
    display: flex;
    flex-direction: row;
}
#searchBar{
    background-color: rgb(219, 218, 218);
    padding: 10px;
    border-radius: 3px;
    border: none;
    width: 85%;
}
#searchIcon{
    margin: auto;
}
#actionsContainer{
    height: 50px;
    width: 350px;
    margin:auto;
    margin-left: 60px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
}
.linkIconAction{
    display: flex;
    flex-direction: row;
}
#settingsIcon{
    color: white;
    margin: auto;
    margin-right: 20px;
}
#profileIcon{
    color: white;
    margin: auto;
}
#signOutIcon{
    color: white;
    margin: auto;
    margin-left: 20px;
}
#contenidoPresente{
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
#todaysTitle{
    margin:auto;
    margin-left: 20px;
    margin-top: 10px;
    width: calc( 100% - 20px);
}
#cursosContainer{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: 30px;
    margin-top: 0;
    width: calc( 100% - 30px);
}
#cursosActivos{
    font-size: 1.1rem;
    margin-top: 10px;
}
#recomendacionesContenido{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    width: calc( 100% - 20px);
}
#recomendacionesClases{
    width: 100%;
    margin: auto;
    margin-left: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.recomendationClassContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    border: solid black .5px;
    border-radius: 15px;
    width: 30%;
}
.classTitle{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.classInformation{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px ;
    display: flex;
    flex-direction: row;
}
.tipoPersonalidad{
    font-size: 1rem;
    margin: auto;
    margin-left: 10px;
    padding-left:5px;
    padding-right:5px;
    border: solid grey 1px;
}
.maestroInformation{
    
    padding-left:5px;
    padding-right:5px;
    border: solid grey 1px;
}
.moreInfoContainer{
    margin: auto;
    display: flex;
    flex-direction: row;
}
.moreInfo{
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.buttonInfo{
    padding: 4px;
    background-color:#591B57;
    margin-bottom: 15px;
    margin-top:15px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1rem;
}
#verTodasClases{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#infoClases{
    margin: auto;
    margin-top: 100px;
}